USE [master]
GO
/****** Object:  Database [NDMS]    Script Date: 5/4/2023 5:25:33 AM ******/
CREATE DATABASE [NDMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NDMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NDMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NDMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NDMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDMS]
GO
/****** Object:  Table [dbo].[ApprovalApplications]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalApplications](
	[personId] [varchar](255) NOT NULL,
	[verificationOfficerId] [varchar](255) NOT NULL,
	[DocId] [int] NOT NULL,
	[status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocOldPassword]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocOldPassword](
	[DocId] [int] NOT NULL,
	[oldPassword] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocPassword]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocPassword](
	[DocId] [int] NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocTitle] [nvarchar](50) NOT NULL,
	[DocId] [int] IDENTITY(1,1) NOT NULL,
	[DocumentCode] [nvarchar](15) NOT NULL,
	[UserId] [varchar](255) NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Type] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
	[expiryDate] [datetime] NOT NULL,
	[Content] [varchar](max) NOT NULL,
 CONSTRAINT [PK__Document__3EF188ADC30113BC] PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentSubmission]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentSubmission](
	[SubmissionId] [int] NOT NULL,
	[UserId] [varchar](255) NOT NULL,
	[OrgRep] [int] NOT NULL,
	[Deadline] [datetime] NOT NULL,
	[DocType] [int] NOT NULL,
	[Purpose] [varchar](255) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[isSubmitted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](255) NOT NULL,
	[Date] [date] NOT NULL,
	[Description] [text] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lookup]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](255) NOT NULL,
	[Category] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Lookup__3213E83F16383CDC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metadata]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metadata](
	[DocId] [int] NOT NULL,
	[FileType] [varchar](max) NOT NULL,
	[FileSize] [bigint] NULL,
 CONSTRAINT [PK_metadata] PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](255) NOT NULL,
	[Type] [int] NOT NULL,
	[Description] [text] NOT NULL,
	[Date] [date] NOT NULL,
	[Read] [bit] NOT NULL,
	[sentOnEmail] [bit] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrgId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[RegNo] [varchar](255) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Area] [varchar](255) NOT NULL,
	[City] [varchar](255) NOT NULL,
	[Province] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationRepresentative]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationRepresentative](
	[RepId] [int] NOT NULL,
	[personId] [varchar](255) NOT NULL,
	[organizationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[BFormNo] [varchar](255) NOT NULL,
	[UserRole] [varchar](255) NOT NULL,
	[Contact] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Status] [int] NULL,
	[Gender] [int] NOT NULL,
 CONSTRAINT [PK__Person__FE66E0E862D95769] PRIMARY KEY CLUSTERED 
(
	[BFormNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmittedDocument]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmittedDocument](
	[submissionId] [int] NOT NULL,
	[docCode] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__Submitte__81BD7310342ACBFD] PRIMARY KEY CLUSTERED 
(
	[submissionId] ASC,
	[docCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationOfficer]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationOfficer](
	[officerId] [varchar](255) NOT NULL,
	[Area] [varchar](255) NULL,
	[City] [varchar](255) NOT NULL,
	[Province] [varchar](255) NOT NULL,
	[officerCategory] [int] NOT NULL,
 CONSTRAINT [PK__Verifica__DD514FD94C2B000C] PRIMARY KEY CLUSTERED 
(
	[officerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Lookup] ON 

INSERT [dbo].[Lookup] ([id], [Value], [Category]) VALUES (1, N'MALE', N'GENDER')
INSERT [dbo].[Lookup] ([id], [Value], [Category]) VALUES (2, N'FEMALE', N'GENDER')
INSERT [dbo].[Lookup] ([id], [Value], [Category]) VALUES (4, N'USER', N'USERROLE')
SET IDENTITY_INSERT [dbo].[Lookup] OFF
GO
INSERT [dbo].[metadata] ([DocId], [FileType], [FileSize]) VALUES (4, N'image/jpeg', 61460)
INSERT [dbo].[metadata] ([DocId], [FileType], [FileSize]) VALUES (5, N'image/jpeg', 64210)
INSERT [dbo].[metadata] ([DocId], [FileType], [FileSize]) VALUES (6, N'image/jpeg', 8870)
GO
INSERT [dbo].[Person] ([BFormNo], [UserRole], [Contact], [Password], [Email], [FirstName], [LastName], [Status], [Gender]) VALUES (N'00000-0000000-0', N'4', N'0000', N'$2y$10$mOS/6yHcgTIIP2cHhU6Lc.qgzYW9Z0qmuEeskMywJmgDt3OH2hB/y', N'safiullah1sohail@gmail.com', N'Safi', N'Ullah', 9, 1)
INSERT [dbo].[Person] ([BFormNo], [UserRole], [Contact], [Password], [Email], [FirstName], [LastName], [Status], [Gender]) VALUES (N'00000-0000000-1', N'4', N'0000', N'$2y$10$vXSt/gQ1DKZqpfdmkfGGz.swQfS3Clo1Uh4jksI8fwVo5SREN2tsC', N'abdef@gmail.com', N'ABC', N'DEF', 9, 1)
INSERT [dbo].[Person] ([BFormNo], [UserRole], [Contact], [Password], [Email], [FirstName], [LastName], [Status], [Gender]) VALUES (N'00000-0000000-6', N'4', N'0000', N'$2y$10$qndzqLniNhxtsIXjWtC3uuut2IY.6iWaA7zn27DzibD84vm2MpsOu', N'jkl@gmail.com', N'jkl', N'mno', 9, 1)
GO
INSERT [dbo].[VerificationOfficer] ([officerId], [Area], [City], [Province], [officerCategory]) VALUES (N'00000-0000000-9', N'Baghbanpura', N'Lahore', N'Punjab', 20)
INSERT [dbo].[VerificationOfficer] ([officerId], [Area], [City], [Province], [officerCategory]) VALUES (N'00000-0000001-0', N'Johar', N'Lahore', N'Punjab', 21)
INSERT [dbo].[VerificationOfficer] ([officerId], [Area], [City], [Province], [officerCategory]) VALUES (N'00000-0000001-1', N'Orangi', N'Karachi', N'Sindh', 22)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents]    Script Date: 5/4/2023 5:25:33 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Documents] ON [dbo].[Documents]
(
	[DocumentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApprovalApplications]  WITH CHECK ADD  CONSTRAINT [FK__ApprovalA__DocId__4BAC3F29] FOREIGN KEY([DocId])
REFERENCES [dbo].[Documents] ([DocId])
GO
ALTER TABLE [dbo].[ApprovalApplications] CHECK CONSTRAINT [FK__ApprovalA__DocId__4BAC3F29]
GO
ALTER TABLE [dbo].[ApprovalApplications]  WITH CHECK ADD  CONSTRAINT [FK__ApprovalA__perso__4CA06362] FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([BFormNo])
GO
ALTER TABLE [dbo].[ApprovalApplications] CHECK CONSTRAINT [FK__ApprovalA__perso__4CA06362]
GO
ALTER TABLE [dbo].[ApprovalApplications]  WITH CHECK ADD  CONSTRAINT [FK__ApprovalA__statu__4D94879B] FOREIGN KEY([status])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[ApprovalApplications] CHECK CONSTRAINT [FK__ApprovalA__statu__4D94879B]
GO
ALTER TABLE [dbo].[ApprovalApplications]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalApplications_VerificationOfficer] FOREIGN KEY([personId])
REFERENCES [dbo].[VerificationOfficer] ([officerId])
GO
ALTER TABLE [dbo].[ApprovalApplications] CHECK CONSTRAINT [FK_ApprovalApplications_VerificationOfficer]
GO
ALTER TABLE [dbo].[DocOldPassword]  WITH CHECK ADD  CONSTRAINT [FK__DocOldPas__DocId__4F7CD00D] FOREIGN KEY([DocId])
REFERENCES [dbo].[Documents] ([DocId])
GO
ALTER TABLE [dbo].[DocOldPassword] CHECK CONSTRAINT [FK__DocOldPas__DocId__4F7CD00D]
GO
ALTER TABLE [dbo].[DocPassword]  WITH CHECK ADD  CONSTRAINT [FK__DocPasswo__DocId__5070F446] FOREIGN KEY([DocId])
REFERENCES [dbo].[Documents] ([DocId])
GO
ALTER TABLE [dbo].[DocPassword] CHECK CONSTRAINT [FK__DocPasswo__DocId__5070F446]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK__Documents__Type__5165187F] FOREIGN KEY([Type])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK__Documents__Type__5165187F]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK__Documents__UserI__52593CB8] FOREIGN KEY([UserId])
REFERENCES [dbo].[Person] ([BFormNo])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK__Documents__UserI__52593CB8]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Lookup] FOREIGN KEY([Status])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Lookup]
GO
ALTER TABLE [dbo].[DocumentSubmission]  WITH CHECK ADD  CONSTRAINT [FK__DocumentS__DocTy__534D60F1] FOREIGN KEY([DocType])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[DocumentSubmission] CHECK CONSTRAINT [FK__DocumentS__DocTy__534D60F1]
GO
ALTER TABLE [dbo].[DocumentSubmission]  WITH CHECK ADD FOREIGN KEY([OrgRep])
REFERENCES [dbo].[OrganizationRepresentative] ([RepId])
GO
ALTER TABLE [dbo].[DocumentSubmission]  WITH CHECK ADD  CONSTRAINT [FK__DocumentS__UserI__5535A963] FOREIGN KEY([UserId])
REFERENCES [dbo].[Person] ([BFormNo])
GO
ALTER TABLE [dbo].[DocumentSubmission] CHECK CONSTRAINT [FK__DocumentS__UserI__5535A963]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Person] FOREIGN KEY([UserId])
REFERENCES [dbo].[Person] ([BFormNo])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Person]
GO
ALTER TABLE [dbo].[metadata]  WITH CHECK ADD  CONSTRAINT [FK_metadata_Documents] FOREIGN KEY([DocId])
REFERENCES [dbo].[Documents] ([DocId])
GO
ALTER TABLE [dbo].[metadata] CHECK CONSTRAINT [FK_metadata_Documents]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Lookup] FOREIGN KEY([Type])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Lookup]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Person] FOREIGN KEY([UserID])
REFERENCES [dbo].[Person] ([BFormNo])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Person]
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK__Organizati__Type__5812160E] FOREIGN KEY([Type])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK__Organizati__Type__5812160E]
GO
ALTER TABLE [dbo].[OrganizationRepresentative]  WITH CHECK ADD FOREIGN KEY([organizationId])
REFERENCES [dbo].[Organization] ([OrgId])
GO
ALTER TABLE [dbo].[OrganizationRepresentative]  WITH CHECK ADD  CONSTRAINT [FK__Organizat__perso__59FA5E80] FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([BFormNo])
GO
ALTER TABLE [dbo].[OrganizationRepresentative] CHECK CONSTRAINT [FK__Organizat__perso__59FA5E80]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK__Person__Gender__5AEE82B9] FOREIGN KEY([Gender])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK__Person__Gender__5AEE82B9]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Lookup] FOREIGN KEY([Status])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Lookup]
GO
ALTER TABLE [dbo].[SubmittedDocument]  WITH CHECK ADD  CONSTRAINT [FK__Submitted__submi__5CD6CB2B] FOREIGN KEY([submissionId])
REFERENCES [dbo].[DocumentSubmission] ([SubmissionId])
GO
ALTER TABLE [dbo].[SubmittedDocument] CHECK CONSTRAINT [FK__Submitted__submi__5CD6CB2B]
GO
ALTER TABLE [dbo].[SubmittedDocument]  WITH CHECK ADD  CONSTRAINT [FK_SubmittedDocument_Documents] FOREIGN KEY([docCode])
REFERENCES [dbo].[Documents] ([DocumentCode])
GO
ALTER TABLE [dbo].[SubmittedDocument] CHECK CONSTRAINT [FK_SubmittedDocument_Documents]
GO
ALTER TABLE [dbo].[VerificationOfficer]  WITH CHECK ADD  CONSTRAINT [FK__Verificat__offic__5DCAEF64] FOREIGN KEY([officerCategory])
REFERENCES [dbo].[Lookup] ([id])
GO
ALTER TABLE [dbo].[VerificationOfficer] CHECK CONSTRAINT [FK__Verificat__offic__5DCAEF64]
GO
ALTER TABLE [dbo].[VerificationOfficer]  WITH CHECK ADD  CONSTRAINT [FK_VerificationOfficer_Person] FOREIGN KEY([officerId])
REFERENCES [dbo].[Person] ([BFormNo])
GO
ALTER TABLE [dbo].[VerificationOfficer] CHECK CONSTRAINT [FK_VerificationOfficer_Person]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDocument]    Script Date: 5/4/2023 5:25:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DeleteDocument] 
    @userId varchar(255),
    @DocTitle nvarchar(50)
AS
BEGIN
    UPDATE Documents
    SET IsDeleted = 1
    WHERE UserId = @userId AND DocTitle = @DocTitle
END
GO
USE [master]
GO
